body { background-color: rgb(100, 100, 100);
    color:bisque; 
    font-family: 'Courier New', Courier, monospace;
    width: 900px;
    margin: 40px auto;
}
.container{
    width: 800px;
    margin: 40px auto;
}
.intro {
    border-radius: 20px;
    padding: 40px;
    background:rgb(130, 130, 130);
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#link1{
    padding: 14px 0px 12px;
    background-color: rgb(151, 151, 151);
    margin: 0px 150px;
}

.img-circle{
    border-radius: 50%;
    text-align: justify;
    width: 500px;
}

p {
    font-style: italic;
 }   

.content{
    border-radius: 20px;
    padding: 40px;
    background:rgb(130, 130, 130);
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.3);
    margin: 50px;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:#d8c142f7;
    text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.1);
    font-size: 100px;
    text-transform:capitalize;
    text-align: center;
    text-decoration: underline;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #faca1b;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#faca1b
}

ul{
    color: #faca1b;

}
 

.link{
    color:wheat; 
    text-decoration: none;
    size: 70px;
}


@media (max-width: 960px) {
    
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    
    .container {
      width: 300px;
    }
  }
